* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.background-image {
    background-image: url(./Assets/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
}

.main-heading > h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 20px 20px 0px 20px; 
}

.main-copy > p {
    color: rgb(73, 73, 73);
    font-weight: 400;
    text-align: center;
    margin: 20px 15px;
}

.get-started-up {
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-up > a {
    text-decoration: none;
    padding-left: 25vw;
    padding-right: 25vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span1 {
    color: white;
    font-weight: 700;
}

.span2 {
    color: lightgray;
    font-weight: 400;
}

.no-cc {
    margin: 20px;
    color: rgb(73, 73, 73);
}

.snip-image {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.snip-image > img{
    width: 90vw;
    max-width: 1000px;
}

.lower-container {
    margin-top: 75px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.example-pic {
    align-self: center;
}

.example-pic > img{
    width: 90vw;
    max-width: 350px;
}

.second-heading {
    margin-top: 60px;
}

.lower-content {
    display: flex;
    flex-direction: column;
}

.second-heading > h2{
    font-size: 30px;
    font-weight: 700;
}

.second-copy > p{
    color: rgb(73, 73, 73);
    font-weight: 400;
    margin: 15px 0px;
}

.get-started-low {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-low > a {
    background-color: black;
    text-decoration: none;
    height: 50px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 100px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.docs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.docs > a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.pp {
    margin-left: 20px;
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .docs {
        justify-content: flex-end;
    }
    
}

@media only screen and (min-width: 769px) {
    .lower-container {
        flex-direction: row;
    }
    
    .example-pic {
        order: 1;
    }

    .docs {
        justify-content: flex-end;
    }
}